@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'SF-Pro_Regular';
  src: url('./assets/Fonts/SF-Pro-Display-Regular.woff') format('woff2'),
    url('./assets/Fonts/SF-Pro-Display-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SF-Pro_Light';
  src: url('./assets/Fonts/SF-Pro-Display-Light.woff') format('woff2'),
    url('./assets/Fonts/SF-Pro-Display-Light.woff') format('woff');
}

@font-face {
  font-family: 'SF-Pro_Thin';
  src: url('./assets/Fonts/SF-Pro-Display-Thin.woff') format('woff2'),
    url('./assets/Fonts/SF-Pro-Display-Thin.woff') format('woff');
}

@font-face {
  font-family: 'SF-Pro_Semibold';
  src: url('./assets/Fonts/SF-Pro-Display-Semibold.woff') format('woff2'),
    url('./assets/Fonts/SF-Pro-Display-Semibold.woff') format('woff');
}

.spinner {
  width: 120px;
  height: 22px;
  border-radius: 20px;
  color: #0d427c;
  border: 2px solid;
  position: relative;
}
.spinner::before {
  content: '';
  position: absolute;
  margin: 2px;
  inset: 0 100% 0 0;
  border-radius: inherit;
  background: currentColor;
  animation: l6 2s infinite;
}
@keyframes l6 {
  100% {
    inset: 0;
  }
}

/* Hide scrollbar for all browsers */
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
.scrollbar-hide {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

/* Add this to your CSS */
.spinnerLogin {
  width: 24px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 2px solid #ffffff;
  border-top-color: transparent; /* Make the spinner appear like it's spinning */
  animation: spin 0.8s infinite linear;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* HTML: <div class="loader"></div> */
.loaderDashboard {
  width: 100px;
  aspect-ratio: 1;
  padding: 10px;
  box-sizing: border-box;
  display: grid;
  background: #fff;
  filter: blur(3px) contrast(7) hue-rotate(290deg);
  mix-blend-mode: darken;
}
.loaderDashboard:before {
  content: '';
  margin: auto;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: #ff0000;
  background: currentColor;
  box-shadow: -30px 0, 30px 0, 0 30px, 0 -30px;
  animation: l6 1s infinite alternate;
}
@keyframes l6 {
  90%,
  100% {
    box-shadow: -10px 0, 10px 0, 0 10px, 0 -10px;
    transform: rotate(180deg);
  }
}

.loaderNew {
  width: 120px;
  height: 22px;
  border-radius: 20px;
  color: #0d427c;
  border: 2px solid;
  position: relative;
}
.loaderNew::before {
  content: '';
  position: absolute;
  margin: 2px;
  inset: 0 100% 0 0;
  border-radius: inherit;
  background: currentColor;
  animation: l6 2s infinite;
}
@keyframes l6 {
  100% {
    inset: 0;
  }
}
